p{
  colour:white;
  background:green;
  font-size:64px;
  font:style-bold;
}
#box1{
  width:1000px;
  height:200px;
  background:blue;
  margin:10px;
  padding:10px;
  border:2px solid red;
  float:left;
}
